@page "/rooms"
@inject ISender Sender

<h2 class="mt-3 mb-4 text-center">Hotellitoad</h2>

@if (_rooms is null)
{
    <p>Loading...</p>
}
else
{
    <a href="/rooms/add" class="btn btn-primary mb-4">Lisa</a>

    <table class="table align-middle">
        <thead>
            <tr>
                <th width="20%">Toa nr.</th>
                <th width="20%" class="text-end">Kohtade arv</th>
                <th width="30%" class="text-end">Hind</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var room in _rooms)
            {
                <tr>
                    <td>@room.RoomNo</td>
                    <td class="text-end">@room.NumOfBeds</td>
                    <td></td>
                    <td class="text-end">
                        <a href="@($"/rooms/{room.Id}")" class="btn btn-primary">Muuda</a>
                        <button class="btn btn-danger" @onclick="() => DeleteRoom(room.Id)">Kustuta</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}


@code {
    private IEnumerable<RoomListModel>? _rooms;

    protected override async Task OnInitializedAsync()
    {
        await LoadRooms();
    }

    private async Task DeleteRoom(int id)
    {
        bool isSuccess = await Sender.Send(new DeleteRoomRequest(id));

        if (isSuccess)
        {
            await LoadRooms();
        }
    }

    private async Task LoadRooms()
    {
        _rooms = await Sender.Send(new GetRoomsRequest());
    }
}
